/* Genel Stil */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Stili */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Navigasyon Stili */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main (İçerik) Alanı Stili */
main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Article (Blog Gönderisi) Stili */
article {
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

/* Görsel (Resim) Stili */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

/* Footer (Altbilgi) Stili */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

/* Link Stil (Devamını Oku) */
p > a {
    color: rgb(1, 1, 1);
    text-decoration: underline;
}

/* Başlık ve İçerik Başlıkları */
h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h1 {
    font-size: 32px;
    margin: 0;
}
